<div class="header">
    <h3>Detalhes do jogador</h3>
    <nz-divider></nz-divider>
</div>

<nz-skeleton [nzActive]="true" *ngIf="!suspectedPlayer"></nz-skeleton>

<div class="body" *ngIf="suspectedPlayer">
    <app-suspected-player [suspectedPlayer]="suspectedPlayer!">
        <ng-container details>
            <tr *ngIf="ping" class="text-left">
                <th>Último ping:</th>
                <td>
                    <app-elapsed-time [date]="ping.timestamp"></app-elapsed-time>
                    <ng-container *ngIf="!ping.focused"> (minimizado)</ng-container>
                </td>
            </tr>
            <tr *ngIf="lastIp" class="text-left">
                <th>Último IP:</th>
                <td>{{lastIp.ip}}</td>
            </tr>
            <tr *ngIf="activity?.fileCheckFail" class="text-left">
                <th class="danger">Falha arquivos:</th>
                <td>{{activity!.fileCheckFail | date : 'short'}}</td>
            </tr>
        </ng-container>
    </app-suspected-player>

    <nz-tabset>
        <nz-tab nzTitle="Screenshots">
            <nz-skeleton [nzActive]="true" *ngIf="!screenshots"></nz-skeleton>
            <nz-empty *ngIf="screenshots && !screenshots.length"></nz-empty>
            <div class="gallery" *ngIf="screenshots && screenshots.length">
                <div class="gallery-body">
                    <lightgallery>
                        <a *ngFor="let screenshot of screenshots" [href]="screenshot.url">
                            <img [src]="screenshot.url" [alt]="screenshot.createdOn | date : 'short'" />
                        </a>
                    </lightgallery>
                </div>

                <a nz-button nzBlock type="button" nzType="link" style="margin-top: 20px"
                    *ngIf="screenshots && screenshots.length && !screenshotPage.eof" (click)="loadMoreScreenshots()">
                    Ver mais
                </a>
            </div>
        </nz-tab>

        <nz-tab nzTitle="Processos">
            <nz-skeleton [nzActive]="true" *ngIf="!processes"></nz-skeleton>
            <nz-empty *ngIf="processes && !processes.length"></nz-empty>
            <nz-table #processesTable [nzData]="processes" [nzFrontPagination]="false" nzSize="small"
                [nzScroll]="{ x: '100%' }" *ngIf="processes && processes.length">
                <thead>
                    <tr>
                        <th nzLeft>Process name</th>
                        <th>Window title</th>
                        <th>Timestamp</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let process of processesTable.data">
                        <td nzLeft>{{process.processName}}</td>
                        <td>{{process.windowTitle}}</td>
                        <td>{{process.timestamp | date : 'short'}}</td>
                        <td>
                            <a (click)="showProcessDetails(process)">Details</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>

        <nz-tab nzTitle="IP's">
            <nz-skeleton [nzActive]="true" *ngIf="!ips"></nz-skeleton>
            <nz-empty *ngIf="ips && !ips.length"></nz-empty>
            <nz-table #ipsTable [nzData]="ips" [nzFrontPagination]="false" nzSize="small" *ngIf="ips && ips.length">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let process of ipsTable.data">
                        <td>{{process.ip}}</td>
                        <td>{{process.when | date : 'short'}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>

        <nz-tab nzTitle="Jogadores com o mesmo IP">

            <nz-form-item *ngIf="ips && ips.length">
                <nz-form-label>IP's já utilizados pelo jogador</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <nz-select [(ngModel)]="currentIp" (ngModelChange)="getAllPlayersWithIp(currentIp)" name="ip"
                        placeholder="IP">
                        <nz-option *ngFor="let ip of ips" [nzValue]="ip.ip"
                            nzLabel="{{ ip.ip + ' - ' + (ip.when | date : 'short')}}">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-skeleton [nzActive]="true" *ngIf="!playersWithSameIp"></nz-skeleton>

            <nz-empty *ngIf="playersWithSameIp && !playersWithSameIp.length"></nz-empty>

            <ng-container *ngIf="playersWithSameIp && playersWithSameIp.length">
                <app-suspected-player *ngFor="let player of playersWithSameIp" [suspectedPlayer]="player">
                </app-suspected-player>
            </ng-container>

        </nz-tab>
    </nz-tabset>
</div>

<div class="footer">
    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="default" (click)="refresh()">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>

        <button nz-button nzType="primary" nzDanger (click)="deleteAllScreenshots()">
            <span nz-icon nzType="delete" nzTheme="outline"></span> Excluir screenshots
        </button>

        <button nz-button nzType="primary" nzDanger (click)="deleteAllProcesses()">
            <span nz-icon nzType="delete" nzTheme="outline"></span> Excluir processos
        </button>

        <button nz-button nzType="primary" nzDanger (click)="deleteAllIps()">
            <span nz-icon nzType="delete" nzTheme="outline"></span> Excluir IP's
        </button>
    </div>

    <a [routerLink]="['/suspected-players']">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Voltar para a lista de suspeitos
    </a>
</div>