h3 {
    text-align: center;
}

nz-divider {
    margin: 10px 0;
}

.text-left {
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
}

@media (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
    }
}

nz-tabset {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b3b3b3;
    background-color: white;
}

.thumbnail {
    max-width: 200px;
    margin: 5px;
}

.buttons,
.ports {
    display: flex;
    flex-wrap: wrap;

    button {
        margin: 5px;
    }
}

.back {
    margin-top: 20px;
    display: block;
}

.lightgallery {
    height: 50vh;
    overflow-y: auto;
}

.process {
    overflow-y: scroll;

    table {
        font-size: 12px;
        width: 100%;
    }

    th,
    td {
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 400px;
        min-width: 200px;
        border: 1px solid #999;
        padding: 10px;
        position: relative;
    }

    .nowrap {
        white-space: nowrap;
    }

    th {
        background-color: #fff;
    }
}
