<div class="card">
    <img [src]="suspectedPlayer.pictureUrl" [alt]="suspectedPlayer.name" class="picture" />
    <table>
        <tr>
            <th>Nome:</th>
            <td>{{suspectedPlayer.name}}</td>
        </tr>
        <tr>
            <th>Community ID:</th>
            <td>{{suspectedPlayer.communityId}}</td>
        </tr>
        <tr>
            <th>Steam ID:</th>
            <td>{{suspectedPlayer.steamId}}</td>
        </tr>
        <tr *ngIf="suspectedPlayer.totalHoursPlayed">
            <th>Horas:</th>
            <td>{{suspectedPlayer.totalHoursPlayed|number}}</td>
        </tr>
        <ng-content select="[details]"></ng-content>
    </table>
    <nz-divider></nz-divider>
    <div class="buttons">
        <a [href]="suspectedPlayer.profileUrl" target="_blank" nz-button nzType="default" nzShape="circle" nz-tooltip
            nzTooltipTitle="Acessar perfil da Steam">
            <img src="../../../../../../assets/icons/steam.png" alt="Steam" />
        </a>

        <ng-content select="[buttons]"></ng-content>
    </div>
</div>