<div class="container">
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <small>{{version}}</small>

        <div>
            <a nz-button [routerLink]="['/virtual-machine']" *ngIf="showVirtualMachineButton">
                <span nz-icon nzType="cluster" nzTheme="outline"></span>
            </a>

            <a nz-button [routerLink]="['/suspected-players']" *ngIf="showSuspectedPlayersButton">
                <span nz-icon nzType="user" nzTheme="outline"></span>
            </a>

            <button nz-button nzType="primary" (click)="auth()">
                <i nz-icon nzType="lock" nzTheme="outline"></i>
            </button>
        </div>
    </div>
</div>