<p *ngIf="ativacao.id">
    <b>ID:</b> {{ativacao.id}}
</p>
<p *ngIf="ativacao.cidadeComEstado">
    <b>Cidade:</b> {{ativacao.cidadeComEstado}}
</p>
<p *ngIf="command.expiracao">
    <b>Expira em: </b>
    <span *ngIf="quantidadeDiasParaExpirar > 0 && command.expiracao.getFullYear() < 2099">
        {{quantidadeDiasParaExpirar|number}} dia(s)
    </span>
    <span *ngIf="quantidadeDiasParaExpirar <= 0" class="expirado">Expirado</span>
    <span *ngIf="command.expiracao.getFullYear() >= 2099" class="vitalicio">Vitalício</span>
</p>

<nz-divider></nz-divider>

<div class="liberacao">
    <label nz-checkbox [(ngModel)]="command.liberado">Liberado</label>
    <nz-date-picker [(ngModel)]="command.expiracao" nzFormat="dd/MM/yyyy" nzAllowClear="false" nzInputReadOnly="true">
    </nz-date-picker>
    <button nz-button nzType="default" (click)="mais30Dias()">+30</button>
    <button nz-button nzType="default" (click)="vitalicio()">
        <i nz-icon nzType="crown" nzTheme="outline"></i>
    </button>
</div>

<div class="referencia">
    <label class="bold">Referência</label>
    <input nz-input name="referencia" [(ngModel)]="command.referencia" placeholder="Referência" />
</div>

<label nz-checkbox [(ngModel)]="command.organizze" class="organizze">Lançado no Organizze</label>

<nz-collapse class="detalhes">
    <nz-collapse-panel nzHeader="Detalhes">
        <small *ngIf="ativacao.id">
            <b>ID:</b> {{ativacao.id}}
        </small>
        <small *ngIf="ativacao.cep">
            <b>CEP:</b> {{ativacao.cep|cep}}
        </small>
        <small *ngIf="ativacao.enderecoCompleto">
            <b>Endereço:</b> {{ativacao.enderecoCompleto}}
        </small>
        <small *ngIf="ativacao.cidadeComEstado">
            <b>Cidade:</b> {{ativacao.cidadeComEstado}}
        </small>
        <small *ngIf="ativacao.telefones">
            <b>Telefones:</b> {{ativacao.telefones}}
        </small>
        <small *ngIf="ativacao.email">
            <b>E-mail:</b> {{ativacao.email}}
        </small>
        <small *ngIf="ativacao.site">
            <b>Site:</b> {{ativacao.site}}
        </small>
    </nz-collapse-panel>
</nz-collapse>

<div *nzModalFooter>
    <button nz-button nzType="primary" nzDanger (click)="excluir()" [nzLoading]="busy">Excluir</button>
    <button nz-button nzType="default" (click)="close()" [nzLoading]="busy">Cancelar</button>
    <button nz-button nzType="primary" (click)="salvar()" [disabled]="!command" [nzLoading]="busy">Salvar</button>
</div>