h3 {
    text-align: center;
}

nz-divider {
    margin: 10px 0;
}

code {
    display: block;
    border: 1px inset black;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 13px;
}

.copy {
    cursor: pointer;
    margin-left: 10px;
}

table {
    margin-bottom: 15px;
    font-size: 13px;

    th {
        text-align: left;
        padding-right: 10px;
        white-space: nowrap;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;

    button {
        margin: 5px;
    }
}

.access-virtual-machine {
    margin-top: 25px;
    display: block;
}
