<h2>Máquina virtual</h2>

<nz-divider></nz-divider>

<nz-skeleton [nzActive]="true" *ngIf="!virtualMachine"></nz-skeleton>

<ng-container *ngIf="virtualMachine && virtualMachine.isOff">
    <p>
        A máquina virtual: <nz-tag nzColor="red"><b>DESLIGADA</b></nz-tag>
    </p>

    <p>Como ligar o servidor?</p>
    <ol>
        <li>Ligue a máquina virtual</li>
        <li>Escolha uma das portas disponíveis</li>
    </ol>

    <nz-divider></nz-divider>

    <button nz-button nzType="primary" (click)="powerOn()" [nzLoading]="loading">
        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
        {{ loading ? 'Ligando...' : 'Ligar máquina virtual' }}
    </button>
</ng-container>

<ng-container *ngIf="virtualMachine && virtualMachine.isOn">
    A máquina virtual: <nz-tag nzColor="green"><b>LIGADA</b></nz-tag>

    <table>
        <tr>
            <th>IP:</th>
            <td>{{virtualMachine.ipAddress}}</td>
        </tr>
    </table>

    <p>Escolha uma das portas abaixo:</p>
    <nz-skeleton [nzActive]="true" *ngIf="!ports"></nz-skeleton>
    <div class="buttons" *ngIf="ports">
        <nz-badge *ngFor="let port of ports" [nzCount]="port.connectedPlayers">
            <a nz-button nzType="default" [routerLink]="['/server', port.portNumber]">
                Porta {{port.portNumber}}
            </a>
        </nz-badge>
    </div>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" nzDanger (click)="powerOff()" [nzLoading]="loading">
            <i nz-icon nzType="poweroff" nzTheme="outline"></i>
            {{ loading ? 'Desligando...' : 'Desligar máquina virtual' }}
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>
    </div>
</ng-container>