h3 {
    text-align: center;
}

nz-divider {
    margin: 10px 0;
}

table {
    margin: 15px 0;
    font-size: 13px;

    th {
        text-align: left;
        padding-right: 10px;
        white-space: nowrap;
    }
}

.buttons,
.ports {
    display: flex;
    flex-wrap: wrap;

    button,
    app-port-detail {
        margin: 5px;
    }
}
