h2 {
    text-align: center;
}

table {
    margin-bottom: 15px;
    font-size: 13px;

    th {
        text-align: left;
        padding-right: 10px;
    }
}

.ports {
    display: flex;
    flex-wrap: wrap;
    
    a {
        margin: 5px;
    }
}
