<h2>Máquina virtual</h2>

<nz-divider></nz-divider>

<nz-skeleton [nzActive]="true" *ngIf="!virtualMachine || !ports"></nz-skeleton>

<ng-container *ngIf="virtualMachine && virtualMachine.isOff">
    <p>
        A máquina virtual encontra-se <b>DESLIGADA</b>,
        para prosseguir é necessário primeiro liga-la:
    </p>

    <button nz-button nzType="primary" (click)="powerOn()" [nzLoading]="loading">
        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
        {{ loading ? 'Ligando...' : 'Ligar máquina virtual' }}
    </button>
</ng-container>

<ng-container *ngIf="virtualMachine && virtualMachine.isOn && ports">
    <p>A máquina virtual encontra-se <b>LIGADA</b>.</p>

    <table>
        <tr>
            <th>IP</th>
            <td>{{virtualMachine.ipAddress}}</td>
        </tr>
    </table>

    <nz-divider nzText="Portas disponíveis"></nz-divider>
    <p>Escolha uma das portas abaixo:</p>
    <div *ngIf="virtualMachine?.isOn && ports" class="buttons">
        <a nz-button nzType="default" *ngFor="let port of ports" [routerLink]="['/server', port]">
            Porta #{{port}}
        </a>
    </div>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" nzDanger (click)="powerOff()" [nzLoading]="loading">
            <i nz-icon nzType="poweroff" nzTheme="outline"></i>
            {{ loading ? 'Desligando...' : 'Desligar máquina virtual' }}
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>
    </div>
</ng-container>