<h2>Máquina virtual</h2>

<nz-divider></nz-divider>

<nz-skeleton [nzActive]="true" *ngIf="!virtualMachine"></nz-skeleton>

<ng-container *ngIf="virtualMachine && virtualMachine.isOff">
    <p>
        Máquina virtual: <nz-tag nzColor="red"><b>DESLIGADA</b></nz-tag>
    </p>

    <p>Como ligar o servidor?</p>
    <ol>
        <li>Clique no botão abaixo</li>
        <li>Escolha uma das portas disponíveis</li>
    </ol>

    <nz-divider></nz-divider>

    <button nz-button nzType="primary" (click)="powerOn()" [nzLoading]="loading">
        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
        {{ loading ? 'Ligando...' : 'Ligar máquina virtual' }}
    </button>
</ng-container>

<ng-container *ngIf="virtualMachine && virtualMachine.isOn">
    Máquina virtual: <nz-tag nzColor="green"><b>LIGADA</b></nz-tag>

    <table>
        <tr>
            <th>IP:</th>
            <td>{{virtualMachine.ipAddress}}</td>
        </tr>
        <tr>
            <th>Ligada por:</th>
            <td>
                <app-user-detail *ngIf="user" [user]="user"></app-user-detail>
                <nz-skeleton *ngIf="!user" [nzActive]="true"></nz-skeleton>
            </td>
        </tr>
    </table>

    <p>Escolha uma das portas abaixo:</p>
    <nz-skeleton [nzActive]="true" *ngIf="!ports"></nz-skeleton>
    <div class="ports" *ngIf="ports">
        <app-port-detail *ngFor="let port of ports" [port]="port"></app-port-detail>
    </div>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" nzDanger (click)="powerOff()" [nzLoading]="loading">
            <i nz-icon nzType="poweroff" nzTheme="outline"></i>
            {{ loading ? 'Desligando...' : 'Desligar máquina virtual' }}
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>
    </div>
</ng-container>