<dl>
    <dt>Window title</dt>
    <dd>{{process.windowTitle}}</dd>

    <dt>File name</dt>
    <dd>{{process.fileName}}</dd>

    <dt>Module</dt>
    <dd>{{process.module}}</dd>

    <dt>Company name</dt>
    <dd>{{process.companyName}}</dd>

    <dt>File description</dt>
    <dd>{{process.fileDescription}}</dd>

    <dt>File version</dt>
    <dd>{{process.fileVersion}}</dd>

    <dt>Original filename</dt>
    <dd>{{process.originalFilename}}</dd>

    <dt>Product name</dt>
    <dd>{{process.productName}}</dd>

    <dt>Timestamp</dt>
    <dd>{{process.timestamp | date : 'short'}}</dd>
</dl>