.container {
    display: grid;
    grid-template-columns: auto 1fr;

    border: 1px silver solid;
    border-radius: 5px;

    .status {
        width: 15px;

        &.nova-ativacao {
            background-color: magenta;
        }

        &.liberado {
            background-color: limegreen;
        }

        &.proximo-expirar {
            background-color: orange;
        }

        &.expirado {
            background-color: red;
        }

        &.bloqueado {
            background-color: silver;
        }

        &.vitalicio {
            background-color: black;
        }
    }

    .content {
        padding: 5px;

        .header {
            * {
                margin: 0;
                padding: 0;
            }
            
            i {
                font-size: 16px;
                padding: 5px;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h4,
        small,
        p {
            padding: 0;
            margin: 0;
        }

        h4 {
            padding-bottom: 5px;
        }

        small {
            display: block;
        }

        .data-expiracao {
            display: flex;
            justify-content: space-between;

            p {
                font-style: italic;
                font-weight: 600;

                &.nova-ativacao {
                    color: magenta;
                }

                &.liberado {
                    color: limegreen;
                }

                &.proximo-expirar {
                    color: orange;
                }

                &.expirado {
                    color: red;
                }

                &.bloqueado {
                    color: silver;
                }

                &.vitalicio {
                    color: black;
                }
            }
        }
    }
}
