<h3>Máquina virtual</h3>

<nz-divider></nz-divider>

<nz-skeleton [nzActive]="true" *ngIf="!virtualMachine"></nz-skeleton>

<ng-container *ngIf="virtualMachine && virtualMachine.isOff">
    <p>
        Máquina virtual: <nz-tag nzColor="red"><b>DESLIGADA</b></nz-tag>
    </p>

    <p>O que você deseja fazer?</p>

    <nz-radio-group [(ngModel)]="action">
        <label nz-radio nzValue="power-on" [nzDisabled]="loading">
            Apenas ligar a máquina
        </label>
        <label nz-radio nzValue="start-server" [nzDisabled]="loading">
            Iniciar um servidor
        </label>
    </nz-radio-group>

    <nz-form-item *ngIf="action && action != 'power-on'">
        <nz-form-label nzRequired nzFor="campaign">Campanha</nz-form-label>
        <nz-form-control [nzSpan]="24">
            <nz-select [(ngModel)]="command.campaign" name="campaign" placeholder="Campanha" [nzDisabled]="loading">
                <nz-option *ngFor="let campaign of Campaigns" [nzValue]="campaign" [nzLabel]="campaign | campaign">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" (click)="powerOn(action)" [nzLoading]="loading" [disabled]="!action">
            <i nz-icon nzType="play-circle" nzTheme="outline"></i>
            {{ loading ? 'Aguarde...' : 'Iniciar' }}
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>
    </div>
</ng-container>

<ng-container *ngIf="virtualMachine && virtualMachine.isOn">
    Máquina virtual: <nz-tag nzColor="green"><b>LIGADA</b></nz-tag>

    <table>
        <tr>
            <th>IP:</th>
            <td>
                {{virtualMachine.ipAddress}}
                <i nz-icon nzType="copy" nzTheme="outline" class="copy" ngxClipboard
                    [cbContent]="virtualMachine.ipAddress" (cbOnSuccess)="copied()" nz-tooltip
                    nzTooltipTitle="Clique para copiar"></i>
            </td>
        </tr>
        <tr>
            <th>Ligada por:</th>
            <td>
                <app-user-detail *ngIf="user" [user]="user"></app-user-detail>
                <nz-skeleton *ngIf="!user" [nzActive]="true"></nz-skeleton>
            </td>
        </tr>
        <tr *ngIf="virtualMachine.powerOnAt">
            <th>Ligada em:</th>
            <td>{{virtualMachine.powerOnAt | date : 'short'}}</td>
        </tr>
        <tr *ngIf="virtualMachine.powerOnAt">
            <th>Tempo ligada:</th>
            <td>
                <app-elapsed-time [date]="virtualMachine.powerOnAt"></app-elapsed-time>
            </td>
        </tr>
    </table>

    <p>Escolha uma das portas abaixo:</p>
    <nz-skeleton [nzActive]="true" *ngIf="!ports"></nz-skeleton>
    <div class="ports" *ngIf="ports">
        <app-port-detail *ngFor="let port of ports" [port]="port"></app-port-detail>
    </div>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" nzDanger (click)="powerOff()" [nzLoading]="loading" *ngIf="canPowerOff()">
            <i nz-icon nzType="poweroff" nzTheme="outline"></i>
            {{ loading ? 'Desligando...' : 'Desligar máquina virtual' }}
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>
    </div>
</ng-container>