<h3>Máquina virtual</h3>

<nz-divider></nz-divider>

<nz-skeleton [nzActive]="true" *ngIf="!virtualMachine"></nz-skeleton>

<ng-container *ngIf="virtualMachine && virtualMachine.isOff">
    <p>
        Máquina virtual: <nz-tag nzColor="red"><b>DESLIGADA</b></nz-tag>
    </p>

    <table>
        <tr *ngIf="user">
            <th>Desligada por:</th>
            <td>
                <app-user-detail [user]="user"></app-user-detail>
            </td>
        </tr>
        <tr *ngIf="virtualMachine.powerOffAt">
            <th>Desligada em:</th>
            <td>{{virtualMachine.powerOffAt | date : 'short'}}</td>
        </tr>
    </table>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" (click)="powerOn()" [nzLoading]="loading">
            <i nz-icon nzType="play-circle" nzTheme="outline"></i>
            {{ loading ? 'Aguarde...' : 'Iniciar' }}
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>
    </div>
</ng-container>

<ng-container *ngIf="virtualMachine && virtualMachine.isOn">
    Máquina virtual: <nz-tag nzColor="green"><b>LIGADA</b></nz-tag>

    <table>
        <tr>
            <th>IP:</th>
            <td>
                {{virtualMachine.ipAddress}}
                <i nz-icon nzType="copy" nzTheme="outline" class="copy" ngxClipboard
                    [cbContent]="virtualMachine.ipAddress" (cbOnSuccess)="copied()" nz-tooltip
                    nzTooltipTitle="Clique para copiar"></i>
            </td>
        </tr>
        <tr *ngIf="user">
            <th>Ligada por:</th>
            <td>
                <app-user-detail [user]="user"></app-user-detail>
            </td>
        </tr>
        <tr *ngIf="virtualMachine.powerOnAt">
            <th>Ligada em:</th>
            <td>{{virtualMachine.powerOnAt | date : 'short'}}</td>
        </tr>
        <tr *ngIf="virtualMachine.powerOnAt">
            <th>Tempo ligada:</th>
            <td>
                <app-elapsed-time [date]="virtualMachine.powerOnAt"></app-elapsed-time>
            </td>
        </tr>
    </table>

    <p>Escolha uma das portas abaixo:</p>
    <nz-skeleton [nzActive]="true" *ngIf="!ports"></nz-skeleton>
    <div class="ports" *ngIf="ports">
        <app-port-detail *ngFor="let port of ports" [port]="port"></app-port-detail>
    </div>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" nzDanger (click)="powerOff()" [nzLoading]="loading" *ngIf="canPowerOff()">
            <i nz-icon nzType="poweroff" nzTheme="outline"></i>
            {{ loading ? 'Aguarde...' : 'Desligar máquina virtual' }}
        </button>

        <button nz-button nzType="primary" nzDanger (click)="restart()" [nzLoading]="loading" *ngIf="canRestart()">
            <i nz-icon nzType="redo" nzTheme="outline"></i>
            {{ loading ? 'Aguarde...' : 'Reiniciar máquina virtual' }}
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i>
            {{ loading ? 'Aguarde...' : 'Atualizar' }}
        </button>
    </div>
</ng-container>