<h3>Porta {{port}}</h3>

<nz-divider></nz-divider>

<nz-skeleton [nzActive]="true" *ngIf="!server"></nz-skeleton>

<ng-container *ngIf="server && !server.isRunning">
    <p>
        Servidor: <nz-tag nzColor="red"><b>NÃO INICIADO</b></nz-tag>
    </p>

    <nz-form-item>
        <nz-form-label nzRequired nzFor="campaign">Campanha</nz-form-label>
        <nz-form-control [nzSpan]="24">
            <nz-select [(ngModel)]="command.campaign" name="campaign" placeholder="Campanha" [nzDisabled]="loading">
                <nz-option *ngFor="let campaign of Campaigns" [nzValue]="campaign" [nzLabel]="campaign | campaign">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <p>
        <b>Atenção:</b> Após iniciar o servidor é necessário digitar <b>!match</b> e escolher a configuração desejada.
    </p>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" (click)="runServer()" [nzLoading]="loading">
            <i nz-icon nzType="play-circle" nzTheme="outline"></i>
            {{ loading ? 'Iniciando...' : 'Iniciar' }}
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>
    </div>
</ng-container>

<ng-container *ngIf="server && server.isRunning">
    <p>
        Servidor: <nz-tag nzColor="green"><b>INICIADO</b></nz-tag>
    </p>

    <nz-skeleton [nzActive]="true" *ngIf="!serverInfo"></nz-skeleton>

    <table *ngIf="serverInfo">
        <tr>
            <th>Iniciado por:</th>
            <td>
                <app-user-detail *ngIf="user" [user]="user"></app-user-detail>
                <nz-skeleton *ngIf="!user" [nzActive]="true"></nz-skeleton>
            </td>
        </tr>
        <tr *ngIf="server.startedAt">
            <th>Tempo ligado:</th>
            <td>
                <app-elapsed-time [date]="server.startedAt"></app-elapsed-time>
            </td>
        </tr>
        <tr>
            <th>Servidor:</th>
            <td>{{serverInfo.name}}</td>
        </tr>
        <tr>
            <th>IP / Porta:</th>
            <td>
                {{fullIpAddress}}
                <i nz-icon nzType="copy" nzTheme="outline" class="copy" ngxClipboard [cbContent]="fullIpAddress"
                    (cbOnSuccess)="copied()" nz-tooltip nzTooltipTitle="Clique para copiar"></i>
            </td>
        </tr>
        <tr>
            <th>Slots:</th>
            <td>{{serverInfo.players}} / {{serverInfo.maxPlayers}}</td>
        </tr>
        <tr>
            <th>Campanha:</th>
            <td>{{serverInfo.map | campaign}}</td>
        </tr>
        <tr *ngIf="players?.length">
            <th>Jogadores:</th>
            <td>{{ players | players }}</td>
        </tr>
        <tr>
            <th>Modo de jogo:</th>
            <td>{{serverInfo.gametype}}</td>
        </tr>
        <tr>
            <th>Acesso:</th>
            <td>
                <nz-tag *ngIf="server.portInfo.status == PortStatus.Open && server.portInfo.rules == '*'"
                    nzColor="green">
                    {{server.portInfo.status | portStatus}}
                </nz-tag>
                <nz-tag *ngIf="server.portInfo.status == PortStatus.Open && server.portInfo.rules != '*'"
                    nzColor="orange">
                    {{server.portInfo.status | portStatus}} apenas para o(s) IP(s) dos jogadores
                </nz-tag>
                <nz-tag nzColor="red" *ngIf="server.portInfo.status == PortStatus.Close">
                    {{server.portInfo.status | portStatus}}
                </nz-tag>
            </td>
        </tr>
    </table>

    <small>Conectar ao servidor:</small>
    <code *ngIf="server.isRunning">
        <span>{{connectCommand}}</span>
        <i nz-icon nzType="copy" nzTheme="outline" class="copy"
            ngxClipboard [cbContent]="connectCommand" (cbOnSuccess)="copied()" 
            nz-tooltip nzTooltipTitle="Clique para copiar"></i>
    </code>

    <small>Criar uma sala utilizando o servidor:</small>
    <code *ngIf="server.isRunning">
        <span>{{dedicatedCommand}}</span>
        <i nz-icon nzType="copy" nzTheme="outline" class="copy"
            ngxClipboard [cbContent]="dedicatedCommand" (cbOnSuccess)="copied()" 
            nz-tooltip nzTooltipTitle="Clique para copiar"></i>
    </code>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button nz-button nzType="primary" nzDanger (click)="stop()" [nzLoading]="loading" *ngIf="canStop()">
            <i nz-icon nzType="poweroff" nzTheme="outline"></i> Desligar servidor
        </button>

        <button nz-button nzType="primary" nzDanger (click)="kickAllPlayers()" [nzLoading]="loading"
            *ngIf="canKickAllPlayers()">
            <i nz-icon nzType="usergroup-delete" nzTheme="outline"></i> Expulsar todos os jogadores
        </button>

        <button *ngIf="canOpenPort()" nz-button nzType="primary" (click)="openPort()" [nzLoading]="loading">
            <i nz-icon nzType="unlock" nzTheme="outline"></i> Abrir porta para todos
        </button>

        <button nz-button nzType="default" (click)="refresh()" [nzLoading]="loading">
            <i nz-icon nzType="reload" nzTheme="outline"></i> Atualizar
        </button>
    </div>
</ng-container>

<a [routerLink]="['/virtual-machine']" class="access-virtual-machine">
    <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Voltar para a máquina virtual
</a>